{{#partial "content"}}
    {{#if editPost}}
        <h1>Awesome!!!</h1>

        <p>Your hero has been created</p>
        <a href="/">back</a>

    {{else}}
        <h1>Awesome!!</h1>
        <p>Your hero has been updated</p>
        <a href="/">Back</a>
    {{/if}}


{{/partial}}
{{>layout.hbs}}