<!--<link rel='stylesheet' href='/app.css'>-->
{{#block "header"}}


    <!doctype html>
    <html lang="en">
    <head>
        <link rel='stylesheet' href='/app.css'>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{#block "title"}}MARVEL{{/block}}</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="/posts">See All Posts</a></li>
        <li role="presentation"><a href="/posts/new">Add a New Post</a></li>
    </ul>
    <div class="container">
        <!--begin main template-->
        <div class="page-header">
            <img src="/images/caspar-rubin-224229.jpg" width="70%">
            <h1>DANNY COMICS<small>fight crime</small></h1>
        </div>
{{/block}}
<div class="page">
{{#block "content"}}

{{/block}}

{{#block "footer"}}
    </div>
    </body>
    </html>
{{/block}}